// Product Intro
*main{
    background-color: #efc435;
    border-radius: 1%;
    
}

.product-list-header {
    display: flex;
    flex-direction: column;
}
.product-list-header__titile {
    margin: 0 auto 10px;
    font-weight: 700;
    font-size: 3.2rem;
}

.product-list-header__sub-title {

    display: block;
    overflow: hidden;
    padding: 15px 22px;
    font-size: 22px;
    line-height: 36px;
    color: #333;
    text-transform: uppercase;
}

.view-more-btn {
    border-radius: 2px;
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-decoration: none;
    padding: 12px 18px;
    font-size: 15px;
    background-color: #ffffff;
    color: #000000;
    width: 9em;
    height: 3em;
    border-radius: 30em;
    position: absolute;

    
}
.view-more-btn::before {
    content: '';
    width: 0;
    height: 3em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #0fd850 0%, #f9f047 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
   }
   
   .view-more-btn:hover::before {
    width: 9em;
   }








@media (max-width: 739px) {
    .product-list {
        margin-top: 520px;
    }
}

@media (min-width: 740px) and (max-width: 1023px) {
    .product-list {
        margin-top: 100px;
    }
}

@media (width: 600px) {
    .product-list {
        margin-top: 800px;
    }
}
