.sub-header {
    height: var(--subHeader-height);
    border-bottom: 1px solid #ced4da;
    // position: fixed;
    // top: 45;
    // left: 0;
    // right: 0;
    background-color: var(--white-color);
    // z-index: 101;
}

.sub-header__container {
    height: var(--subHeader-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sub-header__category {
    display: flex;
    align-items: center;
}

.sub-header__category-btn button {
    margin-left: 24px;
    height: 54px;
    width: 160px;
    background-color: #dc6a6a;
}

.sub-header__actions {
    display: flex;
    align-items: center;
}

.sub-header__actions-cart {
    margin-right: 42px;
    margin-top: 8px;
    margin-left: -28px;
    position: relative;
}

.sub-header__actions-cart-notify {
    position: absolute;
    top: -6px;
    right: -8px;
    padding: 1px 7px;
    font-size: 1.4rem;
    line-height: 1.4rem;
    border-radius: 10px;
    border: 2px solid #ee4d4d;
    color: var(--white-color);
    background-color: var(--primary-color);
}
.sub-header__actions-cart {
    cursor: pointer;
}
.sub-header__actions-cart svg {
    height: 32px;
    width: 32px;
    display: block;
}


.sub-header__actions-signin {
   /* margin-top: 8px;
    margin-right: 26px;
    font-size: 1.8rem;
    cursor: pointer;
    */
    text-decoration: none;
    position: relative;
    border: none;
    font-size: 14px;
    font-family: "Lucida Console", "Courier New", monospace;
    color: #fff;
    width: 9em;
    height: 3em;
    line-height: 3em;
 
    text-align: center;
    background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
    background-size: 500%;
    border-radius: 30px;
    z-index: 1;
    
   
}
.sub-header__actions-signin:hover {
    //color: var(--primary-color);
    animation: ani 8s linear infinite;
    border: none;
}
//ADD TREN
@keyframes ani {
    0% {
      background-position: 0%;
    }
  
    100% {
      background-position: 400%;
    }
  }
  .sub-header__actions-signin:before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
    background-size: 400%;
    border-radius: 35px;
    transition: 1s;
  }
  
  .sub-header__actions-signin:hover::before {
    filter: blur(20px);
  }
  
  .sub-header__actions-signin:active {
    background: linear-gradient(32deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
  }






// Already login

.sub-header__info-container {
    display: flex;
    align-items: center;
    position: relative;
}

.sub-header__info-user-img {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-left: 8px;
    margin-right: 4px;
}

.sub-header__info-user-name {
}

.sub-header__info-user-name:hover {
    color: var(--primary-color);
}

.sub-header__category-btn-mobile {
    display: none;
}

.counter {
    width: 22px;
    height: 22px;
    background-color: red;
    border-radius: 50%;
    padding: 2px;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0 !important;
    color: #fff;
    // position: absolute;
    // top: -5px;
    // right: -5px;
}
.counter1 {
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    padding: 2px;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0 !important;
    color: #fff;
    position: absolute;
    left: 28px;
    top: -2px;
}

@media (min-width: 740px) and (max-width: 1023px) {
    figure img {
        width: 94%;
        height: 86%;
    }
}

@media (max-width: 739px) {
    .sub-header__category-btn {
        display: none;
    }

    .sub-header__category-btn-mobile {
        display: block;
        margin-left: 10px;
    }

    .sub-header__category-btn-mobile button {
        height: 42px;
        width: 60px;
    }
}
